@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import-normalize;

:root {
  font-family: "Lilita One";
  text-align: center;
}

.title {
  margin: 0;
  font-family: "Bungee Spice";
  font-size: 150px;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opt {
  color: #000;
  font-size: 40px;
  position: relative;
  padding: 10px 20px;
}

.opt:hover {
  color: #ffa33c;
}

@media (max-width: 768px) {
  .title {
    font-size: 75px;
  }
  .opt {
    font-size: 25px;
    padding: 3px 8px;
  }
}
