@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import-normalize;

:root {
  font-family: "Lilita One";
  color: #eeeeee;
  text-align: center;
}

img {
  display: block;
  max-width: 50vw;
  height: auto;
  width: auto;
  max-height: 50vh;
  object-fit: cover;
}

button {
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border-width: 4px;
  border-color: #ffe4c4;
  padding: 5px 40px;
}

h1 {
  font-size: 60px;
  margin: 0px;
  padding: 5px 10px 5px 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #beadfa;
  border-radius: 10px;
  border: 5px solid #756ab6;
  padding: 15px 30px;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 10px 0px 10px;
  justify-content: center;
  align-content: center;
}

.primaryButton {
  background-color: #ffa33c;
}

.secondaryButton {
  background-color: #888888;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  img {
    max-height: 80vh;
    max-width: 80vw;
  }

  .content {
    padding: 10px 20px;
  }

  .content {
    width: 80%;
  }
}
